.point {
    border-radius: 50%;
    background: #282c34;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.0;
    color: white;
    background-size: cover;
  }
  
.hovered-point {
  box-shadow: 0px 0px 5px #282c34;
  z-index: 1000;
  cursor: pointer;
}

.hidden {
  display: none;
}