.predictions-list-wrapper {
  width: 85%;
  min-height: 400px;
  max-width: 360px;
}

.predictions-list {
  height: 350px;
  overflow: auto;
  background: #16181b;

  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  padding: 5px;
  border-radius: 5px;
  border: 1px solid aliceblue;
  position: relative;
}

.prediction {
  background-color: aliceblue;
  width: 80px;
  height: 80px;
  padding: 1px;
  margin: 5px;
  opacity: 0.9;
}

.prediction:hover {
  opacity: 1;
}

.pred-img {
  width: 100%;
  height: 100%;
}
